<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Luis Eduardo Augusto Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-gradient" href="#">Start now</a>
  </div>
</div>

<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<p><span data-controller="typed-js"></span></p>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>


<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex ante, sodales non mi nec, tincidunt dignissim metus. Phasellus vitae nisl auctor, condimentum nunc et, vestibulum nisi. Aliquam nec maximus eros, eget mollis ligula. Nam sodales, eros eget euismod ultricies, sapien orci auctor nunc, in sagittis sapien ante id sapien. Morbi dictum nunc ut nunc tempus, in ultrices metus lacinia. Nulla facilisi. Suspendisse in magna eros. Morbi maximus scelerisque molestie. Praesent placerat imperdiet felis, sed tempus sem commodo a. Nunc condimentum nisl vel nibh sodales, eu porta nulla placerat. Integer finibus dolor non dictum cursus. Proin suscipit velit eu nisl lacinia molestie. Nullam et turpis at urna egestas porta at ac erat. Duis posuere laoreet quam, posuere scelerisque nulla viverra sed. Etiam tempor est nec arcu scelerisque, sit amet ullamcorper justo semper.

Mauris dui nulla, maximus et lacus pellentesque, volutpat fermentum quam. In rutrum ut ante et blandit. Phasellus semper mauris dictum, suscipit sapien non, tempus lacus. Fusce libero lorem, posuere fringilla vestibulum ut, euismod nec sem. Maecenas pharetra, nibh ut luctus mattis, erat libero pulvinar dolor, et pellentesque nulla augue non ligula. Cras et blandit lacus. Phasellus aliquam quam id dolor bibendum fringilla. Nam enim arcu, sollicitudin ac felis a, tristique vestibulum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc quis finibus felis. Quisque sit amet dolor vitae eros condimentum porttitor vitae eget neque.

Vivamus ut hendrerit orci, ut interdum dolor. Donec ornare fringilla massa, quis ornare tortor dignissim at. Nunc lobortis lacus quis ultrices vulputate. Praesent feugiat orci id dolor volutpat condimentum. Curabitur nec vehicula urna, vel semper tortor. Aenean vitae dui vel dui efficitur placerat in sed mauris. Nulla sed lacinia enim.

Quisque condimentum in nulla eget dapibus. Donec pulvinar, dolor a consectetur interdum, metus justo rutrum metus, sed ultrices lorem velit convallis leo. In gravida consectetur erat a tempus. Quisque eleifend, tortor non egestas viverra, sapien massa pharetra enim, vitae vehicula metus lectus vel dolor. Etiam facilisis odio sit amet mattis blandit. Donec ultricies lectus ut eros vestibulum blandit. Aliquam efficitur leo sed consequat volutpat.
  </p>
</div>


<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex ante, sodales non mi nec, tincidunt dignissim metus. Phasellus vitae nisl auctor, condimentum nunc et, vestibulum nisi. Aliquam nec maximus eros, eget mollis ligula. Nam sodales, eros eget euismod ultricies, sapien orci auctor nunc, in sagittis sapien ante id sapien. Morbi dictum nunc ut nunc tempus, in ultrices metus lacinia. Nulla facilisi. Suspendisse in magna eros. Morbi maximus scelerisque molestie. Praesent placerat imperdiet felis, sed tempus sem commodo a. Nunc condimentum nisl vel nibh sodales, eu porta nulla placerat. Integer finibus dolor non dictum cursus. Proin suscipit velit eu nisl lacinia molestie. Nullam et turpis at urna egestas porta at ac erat. Duis posuere laoreet quam, posuere scelerisque nulla viverra sed. Etiam tempor est nec arcu scelerisque, sit amet ullamcorper justo semper.

Mauris dui nulla, maximus et lacus pellentesque, volutpat fermentum quam. In rutrum ut ante et blandit. Phasellus semper mauris dictum, suscipit sapien non, tempus lacus. Fusce libero lorem, posuere fringilla vestibulum ut, euismod nec sem. Maecenas pharetra, nibh ut luctus mattis, erat libero pulvinar dolor, et pellentesque nulla augue non ligula. Cras et blandit lacus. Phasellus aliquam quam id dolor bibendum fringilla. Nam enim arcu, sollicitudin ac felis a, tristique vestibulum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc quis finibus felis. Quisque sit amet dolor vitae eros condimentum porttitor vitae eget neque.

Vivamus ut hendrerit orci, ut interdum dolor. Donec ornare fringilla massa, quis ornare tortor dignissim at. Nunc lobortis lacus quis ultrices vulputate. Praesent feugiat orci id dolor volutpat condimentum. Curabitur nec vehicula urna, vel semper tortor. Aenean vitae dui vel dui efficitur placerat in sed mauris. Nulla sed lacinia enim.

Quisque condimentum in nulla eget dapibus. Donec pulvinar, dolor a consectetur interdum, metus justo rutrum metus, sed ultrices lorem velit convallis leo. In gravida consectetur erat a tempus. Quisque eleifend, tortor non egestas viverra, sapien massa pharetra enim, vitae vehicula metus lectus vel dolor. Etiam facilisis odio sit amet mattis blandit. Donec ultricies lectus ut eros vestibulum blandit. Aliquam efficitur leo sed consequat volutpat.
  </p>
</div>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex ante, sodales non mi nec, tincidunt dignissim metus. Phasellus vitae nisl auctor, condimentum nunc et, vestibulum nisi. Aliquam nec maximus eros, eget mollis ligula. Nam sodales, eros eget euismod ultricies, sapien orci auctor nunc, in sagittis sapien ante id sapien. Morbi dictum nunc ut nunc tempus, in ultrices metus lacinia. Nulla facilisi. Suspendisse in magna eros. Morbi maximus scelerisque molestie. Praesent placerat imperdiet felis, sed tempus sem commodo a. Nunc condimentum nisl vel nibh sodales, eu porta nulla placerat. Integer finibus dolor non dictum cursus. Proin suscipit velit eu nisl lacinia molestie. Nullam et turpis at urna egestas porta at ac erat. Duis posuere laoreet quam, posuere scelerisque nulla viverra sed. Etiam tempor est nec arcu scelerisque, sit amet ullamcorper justo semper.

Mauris dui nulla, maximus et lacus pellentesque, volutpat fermentum quam. In rutrum ut ante et blandit. Phasellus semper mauris dictum, suscipit sapien non, tempus lacus. Fusce libero lorem, posuere fringilla vestibulum ut, euismod nec sem. Maecenas pharetra, nibh ut luctus mattis, erat libero pulvinar dolor, et pellentesque nulla augue non ligula. Cras et blandit lacus. Phasellus aliquam quam id dolor bibendum fringilla. Nam enim arcu, sollicitudin ac felis a, tristique vestibulum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc quis finibus felis. Quisque sit amet dolor vitae eros condimentum porttitor vitae eget neque.

Vivamus ut hendrerit orci, ut interdum dolor. Donec ornare fringilla massa, quis ornare tortor dignissim at. Nunc lobortis lacus quis ultrices vulputate. Praesent feugiat orci id dolor volutpat condimentum. Curabitur nec vehicula urna, vel semper tortor. Aenean vitae dui vel dui efficitur placerat in sed mauris. Nulla sed lacinia enim.

Quisque condimentum in nulla eget dapibus. Donec pulvinar, dolor a consectetur interdum, metus justo rutrum metus, sed ultrices lorem velit convallis leo. In gravida consectetur erat a tempus. Quisque eleifend, tortor non egestas viverra, sapien massa pharetra enim, vitae vehicula metus lectus vel dolor. Etiam facilisis odio sit amet mattis blandit. Donec ultricies lectus ut eros vestibulum blandit. Aliquam efficitur leo sed consequat volutpat.
  </p>
</div>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex ante, sodales non mi nec, tincidunt dignissim metus. Phasellus vitae nisl auctor, condimentum nunc et, vestibulum nisi. Aliquam nec maximus eros, eget mollis ligula. Nam sodales, eros eget euismod ultricies, sapien orci auctor nunc, in sagittis sapien ante id sapien. Morbi dictum nunc ut nunc tempus, in ultrices metus lacinia. Nulla facilisi. Suspendisse in magna eros. Morbi maximus scelerisque molestie. Praesent placerat imperdiet felis, sed tempus sem commodo a. Nunc condimentum nisl vel nibh sodales, eu porta nulla placerat. Integer finibus dolor non dictum cursus. Proin suscipit velit eu nisl lacinia molestie. Nullam et turpis at urna egestas porta at ac erat. Duis posuere laoreet quam, posuere scelerisque nulla viverra sed. Etiam tempor est nec arcu scelerisque, sit amet ullamcorper justo semper.

Mauris dui nulla, maximus et lacus pellentesque, volutpat fermentum quam. In rutrum ut ante et blandit. Phasellus semper mauris dictum, suscipit sapien non, tempus lacus. Fusce libero lorem, posuere fringilla vestibulum ut, euismod nec sem. Maecenas pharetra, nibh ut luctus mattis, erat libero pulvinar dolor, et pellentesque nulla augue non ligula. Cras et blandit lacus. Phasellus aliquam quam id dolor bibendum fringilla. Nam enim arcu, sollicitudin ac felis a, tristique vestibulum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc quis finibus felis. Quisque sit amet dolor vitae eros condimentum porttitor vitae eget neque.

Vivamus ut hendrerit orci, ut interdum dolor. Donec ornare fringilla massa, quis ornare tortor dignissim at. Nunc lobortis lacus quis ultrices vulputate. Praesent feugiat orci id dolor volutpat condimentum. Curabitur nec vehicula urna, vel semper tortor. Aenean vitae dui vel dui efficitur placerat in sed mauris. Nulla sed lacinia enim.

Quisque condimentum in nulla eget dapibus. Donec pulvinar, dolor a consectetur interdum, metus justo rutrum metus, sed ultrices lorem velit convallis leo. In gravida consectetur erat a tempus. Quisque eleifend, tortor non egestas viverra, sapien massa pharetra enim, vitae vehicula metus lectus vel dolor. Etiam facilisis odio sit amet mattis blandit. Donec ultricies lectus ut eros vestibulum blandit. Aliquam efficitur leo sed consequat volutpat.
  </p>
</div>


<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex ante, sodales non mi nec, tincidunt dignissim metus. Phasellus vitae nisl auctor, condimentum nunc et, vestibulum nisi. Aliquam nec maximus eros, eget mollis ligula. Nam sodales, eros eget euismod ultricies, sapien orci auctor nunc, in sagittis sapien ante id sapien. Morbi dictum nunc ut nunc tempus, in ultrices metus lacinia. Nulla facilisi. Suspendisse in magna eros. Morbi maximus scelerisque molestie. Praesent placerat imperdiet felis, sed tempus sem commodo a. Nunc condimentum nisl vel nibh sodales, eu porta nulla placerat. Integer finibus dolor non dictum cursus. Proin suscipit velit eu nisl lacinia molestie. Nullam et turpis at urna egestas porta at ac erat. Duis posuere laoreet quam, posuere scelerisque nulla viverra sed. Etiam tempor est nec arcu scelerisque, sit amet ullamcorper justo semper.

Mauris dui nulla, maximus et lacus pellentesque, volutpat fermentum quam. In rutrum ut ante et blandit. Phasellus semper mauris dictum, suscipit sapien non, tempus lacus. Fusce libero lorem, posuere fringilla vestibulum ut, euismod nec sem. Maecenas pharetra, nibh ut luctus mattis, erat libero pulvinar dolor, et pellentesque nulla augue non ligula. Cras et blandit lacus. Phasellus aliquam quam id dolor bibendum fringilla. Nam enim arcu, sollicitudin ac felis a, tristique vestibulum ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc quis finibus felis. Quisque sit amet dolor vitae eros condimentum porttitor vitae eget neque.

Vivamus ut hendrerit orci, ut interdum dolor. Donec ornare fringilla massa, quis ornare tortor dignissim at. Nunc lobortis lacus quis ultrices vulputate. Praesent feugiat orci id dolor volutpat condimentum. Curabitur nec vehicula urna, vel semper tortor. Aenean vitae dui vel dui efficitur placerat in sed mauris. Nulla sed lacinia enim.

Quisque condimentum in nulla eget dapibus. Donec pulvinar, dolor a consectetur interdum, metus justo rutrum metus, sed ultrices lorem velit convallis leo. In gravida consectetur erat a tempus. Quisque eleifend, tortor non egestas viverra, sapien massa pharetra enim, vitae vehicula metus lectus vel dolor. Etiam facilisis odio sit amet mattis blandit. Donec ultricies lectus ut eros vestibulum blandit. Aliquam efficitur leo sed consequat volutpat.
  </p>
</div>
